// Define project parameters needed for running the pipeline
params {
    reads = "az://nf-blob-container/data/*{1,2}.fq.gz"
    outdir = "az://nf-blob-container/data/"
    threads = 2
    slidingwindow = "SLIDINGWINDOW:4:15"
    avgqual = "AVGQUAL:30"
    dirgenome = "az://nf-blob-container/data/"
    genome = "az://nf-blob-container/data/Drosophila_melanogaster.BDGP6.dna.fa"
    gtf = "az://nf-blob-container/data/Drosophila_melanogaster.BDGP6.85.sample.gtf"
    genomeSAindexNbases = 10
    lengthreads = 98
    indexpath = "az://nf-blob-container/data/index/"
}

plugins {
   id 'nf-azure'
}

azure {
    batch {
        location = 'northeurope'
        accountName = "$AZURE_BATCH_ACCOUNT_NAME"
        accountKey = "$AZURE_BATCH_ACCOUNT_KEY"
        autoPoolMode = true
    }
    storage {
        accountName = "$AZURE_STORAGE_ACCOUNT_NAME"
        accountKey = "$AZURE_STORAGE_ACCOUNT_KEY"
    }
}


profiles {
    standard {
        process {
            executor = 'local'
            withLabel: 'low' {
                memory='1G'
                cpus='1'
                time='6h'
            }
            withLabel: 'med' {
                memory='2G'
                cpus='2'
            }
            withLabel: 'high' {
                memory = '8G'
                cpus='8'
            }
        }
    }

    azure {
        process {
            executor = 'azurebatch'
        }
    }

    conda { params.enable_conda = true }

    docker {
        // Enabling docker 
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
    
    singularity {
        // Enabling singularity
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$launchDir/singularity"
    }
}


